/* Map css start */
/* #name{
    position: absolute;
    background-color: white;
    width: fit-content;
    opacity: 0;
    border-radius: 5px;
    border: 3px solid pink;
    padding: 5px;
    font-size: 1.5rem;
}
#time{
    background-color: white;
    width: fit-content;
    border-radius: 5px;
    border: 3px solid pink;
    padding: 5px;
    font-size: 1.5rem;
}
svg path{
    cursor: pointer;

} */

/* body{
background-color: rgb(50, 50, 68);
overflow-y: hidden;
overflow-x: hidden;
} */

a {
  color: #000000 !important;
}
#name {
  position: absolute;
  background-color: white;
  width: fit-content;
  opacity: 0;
  border-radius: 5px;
  border: 3px solid white;
  padding: 20px;
  font-size: 1.5rem;
  text-align-last: center;
}
#time {
  background-color: white;
  width: fit-content;
  border-radius: 5px;
  border: 3px solid pink;
  padding: 5px;
  font-size: 1.5rem;
}
svg path {
  cursor: pointer;
}
svg > img {
  max-width: 60px !important  ;
  max-height: 115px !important;
  margin: 0;
  padding: 0;
}
#name h4 {
  color: black;
  font-size: 22px;
}

/* Map code code end */

.our-brand-secnd-container {
  background-image: url("images/banner-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 145px 0px;
  overflow: hidden;
}

/* for red bedg */
.our-brand-scnd-sec-red {
  background-image: url(images/red.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  inline-size: max-content;
  padding: 14px 30px;
  position: absolute;
  bottom: 0 !important;
  text-align-last: center;
  padding: 30px 55px;
  color: white;
}

.our-brand-scnd-sec-red h4 {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

.our-brand-scnd-sec-red p {
  font-weight: 700;
  font-size: 14px;
}

/* for green bedg */
.our-brand-scnd-sec-green {
  background-image: url(images/green.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  inline-size: max-content;
  padding: 14px 30px;
  position: absolute;
  top: 0 !important ;
  text-align-last: center;
  color: white;
  padding: 30px 47px;
  left: 193px;
}

.our-brand-scnd-sec-green h4 {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

.our-brand-scnd-sec-green p {
  font-weight: 700;
  font-size: 14px;
}

.our-brand-scnd-sec-green {
  background-image: url("images/green.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1.banner-heading {
  font-size: 40px;
  text-align-last: center;
  font-weight: 700;
  padding-bottom: 10px;
}

.main-banner {
  padding-top: 30px;
}

p.second-sec-p {
  text-align-last: center;
  font-size: 16px;
  font-weight: 500;
}
.secnd-sec-container {
  padding-top: 40px;
}

.second-sec-heading {
  font-size: 25px;
  text-align-last: center;
  font-weight: 700;
}

.third-sec-container {
  padding: 70px 0px;
}

/* carousel */

.container.carousel-heading-sec {
  padding-top: 72px;
}

h2.carousel-heading-top {
  text-align: center;
  font-size: 28px;
  color: black;
  font-weight: 700;
}

.owl-carousel .owl-item img {
  display: block;
  height: 85px;
  /* margin: auto; */
  max-width: 35px;
}

.item {
  text-align: -webkit-center;
}
h4.carousel-text {
  font-size: 15px;
  padding-top: 12px;
  font-weight: 600;
}

.item {
  margin: 0px 36px;
  padding: 24px 0px;
  width: 70%;
  border-radius: 11px;
  border: 1px solid rgb(0 0 0 / 10%);
  box-shadow: 3px 67px 25px -13px #00000064;
}

.item:hover {
  background: #eb1e2f;
  margin: 0px 36px;
  padding: 24px 0px;
  width: 70%;
  color: white;
  border-radius: 11px;
}

.item:hover a {
  color: white !important     ;
}

.owl-dots {
  display: none;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block !important;
}

button.owl-prev {
  position: absolute;
  left: 0 !important;
  top: 0;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  top: 60px !important;
}

button.owl-next {
  position: absolute;
  right: 0;
  top: 0 !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  display: none;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #eb1e2f !important;
  color: #ffffff !important;
  text-decoration: none;
}

.owl-theme .owl-nav [class*="owl-"] {
  color: #fff !important;
  font-size: 16px !important;
  /* font-weight: 900 !important; */
  margin: 0px !important;
  padding: 4px 8px !important;
  background: #eb1e2f !important;
  display: inline-block !important;
  border-radius: 50px !important;
}

.row.third-sec-row {
  margin-left: 50px;
  margin-right: 50px;
}

/* DETAIL BEER  PAGE CSS */

.back-to-text h3 {
  font-size: 16px;
  background-color: #eb1e2f;
  text-align-last: center;
  font-weight: 700;
  padding: 10px 0px;
  color: white;
}

.container.detail-pg-container {
  padding-top: 60px;
}

img.dtail-pg-secnd-sec-left-img {
  float: right;
  width: 35%;
}

.dtail-pg-secnd-sec-right-div h2 {
  font-size: 29px;
  font-weight: 700;
}

.dtail-pg-secnd-sec-right-div h5 {
  font-size: 17px;
}
.dtail-pg-secnd-sec-left-div {
  padding-right: 40px;
}
.dtail-pg-secnd-sec-right-div p {
  font-size: 16px;
}
.dtail-pg-secnd-sec-right-div h6 {
  font-size: 15px;
  font-weight: 700;
}
.dtail-pg-secnd-sec-right-div {
  padding-right: 110px;
}

img.dtail-pg-secnd-sec-right-image {
  width: 40%;
}

.counteries-bought-heading-sec {
  padding-top: 75px;
  padding-bottom: 30px;
}
h2.counteries-bought-heading {
  text-align: center;
  font-size: 28px;
  color: black;
  font-weight: 700;
}

button.dtail-pg-secnd-sec-right-btn a {
  background: #eb1e2f;
  color: white;
  text-decoration: none !important;
  border: none;
  font-weight: 500;
  font-size: 14px;
  margin-top: 18px;
  padding: 11px 12px;
}
button.dtail-pg-secnd-sec-right-btn {
  background: #eb1e2f;
  color: white;
  text-decoration: none !important;
  border: none;
  font-weight: 500;
  font-size: 14px;
  margin-top: 18px;
  padding: 11px 12px;
}

a {
  text-decoration: none !important;
}

button.dtail-pg-secnd-sec-right-btn :hover {
  background-color: #eb1e2f;
  color: white !important;
}

ul {
  list-style-type: none;
  padding: 0px 18px;
}

.ul-div {
  text-align: -webkit-center;
}

.ul-div li a {
  font-size: 13px;
  font-weight: 700;
  color: black;
}

.ul-div li a:hover {
  color: #eb1e2f;
}

.container.counteries-bought-sec {
  background: #f5f5f5;
  border-radius: 12px;
  padding: 47px 0px;
  margin-bottom: 85px;
}
.ul-heading {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  color: black;
}

.caricon-div {
  display: flex;
  place-content: center;
}

/* js ul css */

.js-ul-data {
  display: flex;
}

/* Media Query  */

@media only screen and (max-width: 768px) {
  h1.banner-heading {
    font-size: 32px;
  }
  h4.carousel-text {
    font-size: 15px;
    padding-top: 9px;
  }
  .dtail-pg-secnd-sec-right-div {
    padding-right: 10px;
  }
  img.dtail-pg-secnd-sec-left-img {
    float: right;
    width: 45%;
  }

  .our-brand-secnd-container {
    padding: 95px 0px;
  }

  .our-brand-scnd-sec-red h4 {
    font-size: 24px;
  }

  .our-brand-scnd-sec-red p {
    font-size: 11px;
  }
  .our-brand-scnd-sec-green h4 {
    font-size: 24px;
  }

  .our-brand-scnd-sec-green p {
    font-size: 11px;
  }

  .our-brand-scnd-sec-red {
    padding: 17px 30px;
  }
  .our-brand-scnd-sec-green {
    padding: 17px 20px;
    left: 119px;
  }

  .item {
    width: 62%;
  }

  .item:hover {
    width: 62%;
  }
  .owl-dots {
    display: none;
  }

  .col-md-2.links-col-1 {
    max-width: 60px !important;
  }

  ul {
    list-style-type: none;
    padding: 0px 6px;
  }
  .js-ul-data {
    display: block !important;
  }
}

@media only screen and (max-width: 429px) {
  h1.banner-heading {
    font-size: 26px;
  }
  .owl-dots {
    display: none;
  }
  img.dtail-pg-secnd-sec-left-img {
    float: left;
    width: 100%;
  }
  .col-md-6.dtail-pg-secnd-sec-right-col-1 {
    display: flex;
    place-content: center;
  }
  .col-md-6.dtail-pg-secnd-sec-right-col-2 {
    text-align: center;
  }
  .dtail-pg-secnd-sec-left-div {
    padding-right: 0px;
  }

  .our-brand-secnd-container {
    padding: 68px 0px;
  }

  .our-brand-scnd-sec-red h4 {
    font-size: 24px;
  }

  .our-brand-scnd-sec-red p {
    font-size: 11px;
  }
  .our-brand-scnd-sec-green h4 {
    font-size: 24px;
  }

  .our-brand-scnd-sec-green p {
    font-size: 11px;
  }

  .our-brand-scnd-sec-red {
    padding: 4px 16px;
    left: 195px;
  }
  .our-brand-scnd-sec-green {
    padding: 4px 5px;
    left: 195px;
  }

  .second-sec-heading {
    font-size: 23px;
    padding: 0px 20px;
    text-align: -webkit-center;
  }

  .item {
    width: 75%;
  }

  .item:hover {
    width: 75%;
  }

  .counteries-bought-heading-sec {
    padding-top: 32px;
    padding-bottom: 18px;
  }
  h2.counteries-bought-heading {
    font-size: 25px;
  }
  .container.carousel-heading-sec {
    padding-top: 30px;
  }
  .third-sec-container {
    padding: 45px 0px;
  }
  .js-ul-data {
    display: block !important;
  }
}
